body { background: #000; color: #fff; font-family: sans-serif; margin: 0; padding: 10px; }

header h1 { 
    text-align: center; font-size: 35px; margin: 30px 0; font-weight: 900; letter-spacing: -2px;
}

#gallery { 
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr)); 
    gap: 10px; 
}

.img-card { 
    background: #111; border-radius: 12px; overflow: hidden; 
    border: 1px solid #222; cursor: pointer; transition: 0.3s;
}

.img-card img { width: 100%; height: 200px; object-fit: cover; display: block; }

/* MODAL FULLSCREEN */
#photoModal {
    display: none; position: fixed; inset: 0; background: #000; z-index: 1000;
}

#modalContent {
    display: flex; 
    flex-direction: row; /* Horizontal Scroll */
    overflow-x: auto; 
    scroll-snap-type: x mandatory; 
    height: 100vh;
    scrollbar-width: none;
}

.folder-item {
    min-width: 100vw; 
    height: 100vh; 
    scroll-snap-align: center; 
    display: flex; justify-content: center; align-items: center;
    position: relative;
}

.folder-item img { max-width: 95%; max-height: 80%; border-radius: 8px; }

.mini-download-btn {
    position: absolute; top: 30px; right: 25px; background: #fff;
    color: #000; width: 45px; height: 45px; border-radius: 50%;
    display: flex; justify-content: center; align-items: center;
    text-decoration: none; font-weight: bold; z-index: 5000;
}

.close-x {
    position: absolute; top: 30px; left: 25px; font-size: 40px;
    color: #fff; z-index: 5000; cursor: pointer;
}
